PORT=3000
OSS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
OSS_ACCESS_KEY_SECRET=YOUR_ACCESS_KEY_SECRET
OSS_REGION=oss-cn-beijing
OSS_BUCKET=leoht
OSS_PREFIX=atomq/content_package/public/
SIGN_EXPIRES_SECONDS=180
OSS_SIGN_FORCE_HTTPS=true
